target/
bin/
.project
.classpath
.checkstyle
.pmd
.pmdruleset.xml
.ruleset
.settings/
*.iml
.idea
*.patch
*/src/site/site.xml
pmd-core/dependency-reduced-pom.xml
.bundle
vendor

# rule docs are generated
docs/pages/pmd/rules
