
.list-view, .tree-view, .table-view {
    -fx-selection-bar: royalblue;
    -fx-selection-bar-non-focused: derive(-fx-base, -20%);
}

.table-view {
    -fx-border-color: derive(-fx-base, -10%);
    -fx-padding: -1 0 0 0;
}

.table-view .column-header .label {
    -fx-font-weight: normal;
    -fx-border-color: derive(-fx-base, -10%);
    -fx-font-size: 9pt;
    -fx-min-height: 19pt;
    -fx-max-height: 19pt;
}

.table-view .column-header {
    -fx-background-color: derive(-fx-base, -10%);
    -fx-border-color: derive(-fx-base, -20%);
    -fx-border-style: none solid solid solid;
    -fx-padding: -1 0 0 0;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}


.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}


/**************/
/* Split pane */
/**************/

#mainHorizontalSplitPane > .split-pane-divider {
    -fx-background-color: derive(-fx-base, -20%);
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-base, -10%);
}

.split-pane {
    -fx-padding: 0;
}


.bottom-pane-split-pane.split-pane > .split-pane-divider {
    /*-fx-background-color: derive(-fx-base, -20%);*/
}


.secondary-panel {
    -fx-border-style: none;
}

#nodeInfoPanel {
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
    -fx-min-width: 300px;
}


/************/
/* Toolbars */
/************/

.info-title-bar .label {
    -fx-padding: 0 0 0 6;
}

.titled-pane > .title,
.info-title-bar {
    -fx-font-size: 9pt;
    -fx-pref-height: 24.0;
    -fx-border-radius: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: derive(-fx-base, -10%);
}

.titled-pane > .title {

}

.menu-bar {
    -fx-background-color: derive(-fx-base, -10%);
    -fx-border-style: none none solid none;
    -fx-border-color: derive(-fx-base, -20%);
}

#mainToolbar {
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
    -fx-min-height: 30px;
    -fx-border-color: transparent;
    -fx-border-width: .6;
}

.button {
    -fx-background-color: derive(-fx-base, 10%);
    -fx-border-color: derive(-fx-base, -20%);
    -fx-border-radius: 3;
}

.choice-box {
    -fx-background-color: derive(-fx-base, 10%);
    -fx-border-color: derive(-fx-base, -20%);
    -fx-border-radius: 3;
}

.toggle-button:selected.expand-toggle {
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.toggle-button.expand-toggle {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 -4 z";
    -fx-min-height: 15;
    -fx-max-height: 15;
    -fx-pref-height: 15;
    -fx-min-width: 20;
    -fx-max-width: 20;
    -fx-pref-width: 20;
}


/************/
/* Tab pane */
/************/

.tab-pane {
    -fx-tab-min-height: 20px;
    -fx-tab-max-height: 20px;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-padding: 0 10 0 10;
}

.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.tab:selected {
    -fx-background-color: derive(-fx-base, -20%);
}

.tab:focused {
    -fx-focus-color: transparent;
}

.tab:disabled {
    -fx-background-color: transparent;
}

.tab {
    -fx-padding: 0 30 0 30;
}

.tab-pane .tab-header-background {
    -fx-background-color: derive(-fx-base, -20%), derive(-fx-base, -10%);
}

.tab-pane:top .tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}

.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0 1 0 0;
    -fx-padding: 0;
}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

/***************/
/* Scroll bars */
/***************/


.scroll-bar * {
    -fx-background-color: white;
}

scroll-bar .increment-button,
scroll-bar .decrement-button {
    -fx-background-radius: 0em;
}

scroll-bar:horizontal .increment-button,
scroll-bar:horizontal .decrement-button {
    -fx-padding: 0 0 10 0;
}

scroll-bar:vertical .increment-button,
scroll-bar:vertical .decrement-button {
    -fx-padding: 0 10 0 0;
}

.scroll-bar .decrement-arrow,
.scroll-bar .increment-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar .track {
    -fx-border-color: white;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
    -fx-padding: -2;
}

.scroll-bar .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical,
.scroll-bar:vertical > * {
    -fx-min-width: 15px;
    -fx-pref-width: 15px;
    -fx-max-width: 15px;
}

.scroll-bar:horizontal,
.scroll-bar:horizontal > * {
    -fx-min-height: 15px;
    -fx-pref-height: 15px;
    -fx-max-height: 15px;
}
