
.code {
    -fx-font-family: "monospace";
    -fx-font-size: 11pt;
}

.titled-pane > .title {
    -fx-pref-height: 28.0;
}

.accordion > .titled-pane > .title {
    -fx-font-size: 9pt;
    -fx-pref-height: 24.0;
    -fx-background-color: derive(-fx-base, -10%);
}


.lineno {
    -fx-font-size: 80%;
    -fx-font-weight: normal;
}
