
.titled-pane > .title {
    -fx-pref-height: 28.0;
}

.accordion > .titled-pane > .title {
    -fx-font-size: 9pt;
    -fx-pref-height: 24.0;
    -fx-background-color: derive(-fx-base, -10%);
}




.tab-pane {
    -fx-tab-min-height: 28.0;
    -fx-tab-max-height: 28.0;
}

.tab:focused {
    /*-fx-focus-color: transparent;*/
}
.tab {
    -fx-padding: 0 30 0 30;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}
.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}