/* Presets for the editor theme and syntax highlighting. */

/* CSS reference of the code area:
 https://github.com/FXMisc/RichTextFX/wiki/RichTextFX-CSS-Reference-Guide
*/

/* With syntax highlighting, it's more readable to not change the fill color */

.styled-text-area .focus-highlight {
    -fx-font-weight: bolder;
}

/* Add a border around highlighted nodes if they fit in one line */
/* Otherwise, the background variation should be enough to spot them */
.styled-text-area .inline-highlight {
    -rtfx-border-stroke-width: .75pt;
    -rtfx-border-stroke-type: centered;
}

.styled-text-area .xpath-highlight {
    -rtfx-border-stroke-color: darkgoldenrod;
    -rtfx-background-color: #f6e8d3;
}

/* This rule removes the vertical border around eg name occurrences included in XPath highlight */
.styled-text-area .name-occurence.xpath-highlight,
.styled-text-area .error-highlight.xpath-highlight {
    -rtfx-border-stroke-color: darkgoldenrod;
}

.styled-text-area .error-highlight {
    -rtfx-border-stroke-color: darkred;
    -rtfx-background-color: lightcoral;
}

.styled-text-area .name-occurence {
    -rtfx-border-stroke-color: olivedrab;
    -rtfx-background-color: palegreen;
}

/********/
/* Base */
/*******/

.styled-text-area {
    -fx-background-color: whitesmoke;
    -fx-border-color: -fx-outer-border, -fx-text-box-border;
    -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
}


.styled-text-area .scroll-bar * {
    -fx-background-color: whitesmoke;
    -fx-border-color: whitesmoke;
}


.styled-text-area .scroll-bar .thumb {
    -fx-background-color: derive(black, 90%);
}


.paragraph-box:has-caret {
    -fx-background-color: #fbf4e1;
}

.text {
    -fx-fill: #585858;
    -fx-font-size: 10.5pt;
}

/* Line numbers */
.lineno {
    -fx-fill: #586E75;
    -fx-font-size: 80%;
    -fx-font-weight: normal;
}

/****************************/
/* Syntax highlighting base */
/****************************/

.styled-text-area .keyword {
    -fx-fill: #B58900;
    /* -fx-font-weight: bold; */
}

.styled-text-area .punctuation {

}


.styled-text-area .literal {
    -fx-fill: #317ECC;
}


.styled-text-area .comment {
    -fx-fill: #93A1A1;
    -fx-font-style: italic; /* doesn't work... */
}

.styled-text-area .annotation {
    -fx-fill: #d30102;
}

/* Java specific */

.styled-text-area .java.class-identifier {
    -fx-fill: #B05A65;
}

/* Apex specific */

/* XPath specific */

#xpathExpressionArea .text {
    -fx-font-size: 11.5pt;
}

.styled-text-area .xpath.path {
    -fx-font-weight: bold;
}

.styled-text-area .xpath.axis {
    -fx-fill: #B05A65;
}

.styled-text-area .xpath.bracket {
    -fx-font-weight: bolder;
}

.styled-text-area .xpath.attribute {
    -fx-fill: #B05A65;
}

.styled-text-area .xpath.function {
    -fx-fill: #cc971b;
}

/* XML specific */

.styled-text-area .xml.xml-prolog {
    -fx-font-weight: bolder;
}

.styled-text-area .xml.tag-name {
    -fx-fill: #B05A65;
}

.styled-text-area .xml.lt-gt {
    -fx-fill: #B05A65;
}

.styled-text-area .xml.attribute-name {
    -fx-fill: #B58900;
}

.styled-text-area .xml.cdata-tag {
    -fx-fill: #B58900;
}

.styled-text-area .xml.cdata-content {
    -fx-fill: #93A1A1;
}