/* Theme based on Solarized Light for Eclipse, http://www.eclipsecolorthemes.org/?view=theme&id=1013 */

#mainCodeEditorArea {
    -fx-background-color: #FDF6E3;
}

#mainCodeEditorArea .keyword {
    -fx-fill: #B58900;
    /* -fx-font-weight: bold; */
}

#mainCodeEditorArea .semicolon {
    -fx-font-weight: bold;
}

#mainCodeEditorArea .annotation {
    -fx-fill: #d30102;
}

#mainCodeEditorArea .paren {

}

#mainCodeEditorArea .bracket {

}

#mainCodeEditorArea .brace {
}

#mainCodeEditorArea .string {
    -fx-fill: #2AA198;
}

#mainCodeEditorArea .multi-line-comment {
    -fx-fill: #4a5d64;
    -fx-font-style: italic;
}

#mainCodeEditorArea .single-line-comment {
    -fx-fill: #93A1A1;
    -fx-font-style: italic; /* doesn't work... */
}

.paragraph-box:has-caret {
    -fx-background-color: #FDF6E3;
}

.text {
    -fx-fill: #657A81;
}

.lineno {
    -fx-fill: #586E75;
}