/* Theme based on Roboticket for Eclipse, http://www.eclipsecolorthemes.org/?view=theme&id=93 */

#xpathExpressionArea {
    -fx-background-color: #F5F5F5;
    -fx-font-size: 12pt;
}

#xpathExpressionArea .xpath-keyword {
    -fx-fill: #B05A65;
    -fx-font-weight: bold;
}

#xpathExpressionArea .xpath-function {
    -fx-fill: BC5A65;
    -fx-font-style: italic;
}

#xpathExpressionArea .xpath-path {

}

#xpathExpressionArea .xpath-axis {
    -fx-fill: #B05A65;
    -fx-font-weight: bold;
}

#xpathExpressionArea .xpath-attribute {
    -fx-fill: #885D3B;
}

#xpathExpressionArea .xpath-paren {
    -fx-font-weight: bold;
}

#xpathExpressionArea .xpath-bracket {
    -fx-font-weight: bolder;
}

#xpathExpressionArea .xpath-string {
    -fx-fill: #317ECC;
}

#xpathExpressionArea .xpath-comment {
    -fx-fill: #4e6971;
    -fx-font-style: italic;
}

.paragraph-box:has-caret {
    -fx-background-color: #FDF6E3;
}

.text {
    -fx-fill: #585858;
}

.lineno {
    -fx-fill: #586E75;
}