<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.pmd.eclipse"
   name="PMD For Eclipse"
   version="3.2.3.v200712041040"
   provider-name="PMD Development Team">
   <requires>
      <import plugin="net.sourceforge.pmd.core"/>
      <import plugin="net.sourceforge.pmd.runtime"/>
      <import plugin="net.sourceforge.pmd.ui"/>
   </requires>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>


</plugin>
