

.code {
    -fx-font-family: "monospace";
    -fx-font-size: 11pt;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 110%;
}

.node-highlight {
    -fx-background: lightblue;
    -fx-font-weight: bold;
    -fx-fill: green;
}
