

.code {
    -fx-font-family: "monospace";
    -fx-font-size: 11pt;
}

.label {
    -fx-font-family: "Lucida Sans";
    -fx-font-weight: bold;
    -fx-font-size: 110%;
}

.node-highlight {
    -rtfx-background-color: #99ccff;
    -fx-font-weight: bold;
}
