

.code {
    -fx-font-family: "monospace";
    -fx-font-size: 11pt;
}

.label {
}

.styled-text-area {
    -fx-border-color:  -fx-outer-border, -fx-text-box-border;
    -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
}

.node-highlight {
    -fx-font-weight: bolder;
    -fx-fill: blue;
}

.lineno {
    -fx-font-size: 80%;
    -fx-font-weight: normal;
}
