
.panel-body {
    padding-top: 0cm;
}

.landing-page.cat-title {
    margin-bottom: .5cm;
    margin-top: .5cm;
}

.landing-page.cat-description {
    margin-top: .4cm;
}

/* Offsets contents by the height of the nav bar */
#topbar-content-offset {
    overflow: scroll;
    position: absolute;
    top: 50px; /* height of the nav bar */
    bottom: 0px;
    width: 100%;
}

details {
    border-radius: 3px;
    background: #EEE;
    margin-left: 10px;
}

details p {
    padding: 5px 10px 5px;
    background: white;
}

details summary {
    font-size: 11pt;
    vertical-align: top;
    background: #d2d2d2;
    color: black;
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    display: list-item;
}

details summary::after {
    content: "...";
}

details[open] summary {
    background-color: #347DBE;
    color: white;
}
