<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.pmd.ui"
   name="PMD For Eclipse UI Plug-in"
   version="3.2.4.v200804111600"
   provider-name="PMD Development Team"
   class="net.sourceforge.pmd.ui.PMDUiPlugin">

   <runtime>
      <library name="pmd-ui.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="net.sourceforge.pmd.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="net.sourceforge.pmd.core"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>

   <extension
         id="pmdPreferencePages"
         name="PMDPreferencePages"
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preferences.pmd"
            class="net.sourceforge.pmd.ui.preferences.GeneralPreferencesPage"
            id="net.sourceforge.pmd.ui.preferences.generalPreferencesPage">
      </page>
      <page
            name="%preferences.rulesets"
            category="net.sourceforge.pmd.ui.preferences.generalPreferencesPage"
            class="net.sourceforge.pmd.ui.preferences.PMDPreferencePage"
            id="net.sourceforge.pmd.ui.preferences.pmdPreferencePage">
      </page>
      <page
            name="%preferences.cpd"
            category="net.sourceforge.pmd.ui.preferences.generalPreferencesPage"
            class="net.sourceforge.pmd.ui.preferences.CPDPreferencePage"
            id="net.sourceforge.pmd.ui.preferences.cpdPreferencePage">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="net.sourceforge.pmd.runtime.pmdMarker"
            class="net.sourceforge.pmd.ui.quickfix.PMDResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

   <extension
         id="pmdPropertyPage"
         name="PMD Property Page"
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%properties.pmd"
            nameFilter="*"
            class="net.sourceforge.pmd.ui.properties.PMDPropertyPage"
            id="net.sourceforge.pmd.ui.properties.pmdPropertyPage">
      </page>
   </extension>

   <extension
         id="pmdPopupMenus"
         name="PMD Popup Menus"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            nameFilter="*"
            id="net.sourceforge.pmd.ui.pmdProjectContribution">
         <menu
               label="%menu.pmd"
               path="additions"
               id="pmd.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="%action.checkpmd"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.PMDCheckAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdPopupCheckProjectAction">
         </action>
         <action
               label="%action.clearpmd"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.PMDRemoveMarkersAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdRemoveMarkersAction">
         </action>
         <action
               label="%action.checkcpd"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.CPDCheckProjectAction"
               menubarPath="pmd.menu/group"
               enablesFor="1"
               id="net.sourceforge.pmd.ui.cpdCheckProjectAction">
         </action>
         <action
               label="%action.clearreviews"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.ClearReviewsAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdClearReviewsAction">
         </action>
         <action
               label="%action.generatereport"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.GenerateReportAction"
               menubarPath="pmd.menu/group"
               enablesFor="1"
               id="net.sourceforge.pmd.ui.generateReportAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFolder"
            adaptable="true"
            nameFilter="*"
            id="net.sourceforge.pmd.ui.pmdFolderContribution">
         <menu
               label="%menu.pmd"
               path="additions"
               id="pmd.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="%action.checkpmd"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.PMDCheckAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdFolderCheckProjectAction">
         </action>
         <action
               label="%action.clearpmd"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.PMDRemoveMarkersAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdRemoveMarkersAction">
         </action>
         <action
               label="%action.clearreviews"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.ClearReviewsAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdClearReviewsAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            nameFilter="*.java"
            id="net.sourceforge.pmd.ui.pmdFileContribution">
         <menu
               label="%menu.pmd"
               path="additions"
               id="pmd.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="%action.checkpmd"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.PMDCheckAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdCheckFileAction">
         </action>
         <action
               label="%action.clearpmd"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.PMDRemoveMarkersAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdRemoveMarkersAction">
         </action>
         <action
               label="%action.ast"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.PMDGenerateASTAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdGenerateAstAction">
         </action>
         <action
               label="%action.clearreviews"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.ClearReviewsAction"
               menubarPath="pmd.menu/group"
               enablesFor="+"
               id="net.sourceforge.pmd.ui.pmdClearReviewsAction">
         </action>
      </objectContribution>
      <viewerContribution
            id="net.sourceforge.pmd.ui.pmdTaskListContribution"
            targetID="org.eclipse.ui.views.TaskList">
         <action
               class="net.sourceforge.pmd.ui.actions.PMDRemoveMarkersAction"
               icon="icons/pmd-icon-16.gif"
               id="net.sourceforge.pmd.ui.pmdRemoveAllMarkersAction"
               label="%action.clearall"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <viewerContribution
            id="net.sourceforge.pmd.ui.pmdVioaltionViewContribution"
            targetID="net.sourceforge.pmd.ui.views.ViolationView">
         <action
               class="net.sourceforge.pmd.ui.actions.PMDRemoveMarkersAction"
               icon="icons/pmd-icon-16.gif"
               id="net.sourceforge.pmd.ui.pmdRemoveAllMarkersAction"
               label="%action.clearall"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <viewerContribution
            id="net.sourceforge.pmd.ui.pmdOutlineContribution"
            targetID="net.sourceforge.pmd.ui.views.violationOutline">
         <action
               label="%action.clearreviews"
               icon="icons/pmd-icon-16.gif"
               class="net.sourceforge.pmd.ui.actions.ClearReviewsAction"
               menubarPath="additions"
               id="net.sourceforge.pmd.ui.pmdClearReviewsAction"/>
      </viewerContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.jdt.core.IMethod"
            nameFilter="*"
            id="net.sourceforge.pmd.ui.pmdMethodContribution">
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="net.sourceforge.pmd.ui.pmdOverviewContribution"
            objectClass="net.sourceforge.pmd.ui.model.AbstractPMDRecord">
         <action
               class="net.sourceforge.pmd.ui.actions.PMDRemoveMarkersAction"
               enablesFor="+"
               icon="icons/pmd-icon-16.gif"
               id="net.sourceforge.pmd.ui.pmdRemoveMarkersAction"
               label="%action.clearpmd"
               menubarPath="additions"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="net.sourceforge.pmd.ui.pmdOverviewContribution"
            objectClass="net.sourceforge.pmd.ui.model.PackageRecord">
         <action
               class="net.sourceforge.pmd.ui.actions.PMDCheckAction"
               enablesFor="+"
               icon="icons/pmd-icon-16.gif"
               id="net.sourceforge.pmd.ui.pmdPackageCheckProjectAction"
               label="%action.checkpmd"
               menubarPath="additions"/>
      </objectContribution>                 
      <objectContribution
            adaptable="false"
            id="net.sourceforge.pmd.ui.pmdOverviewContribution"
            objectClass="net.sourceforge.pmd.ui.model.FileRecord">
         <action
               class="net.sourceforge.pmd.ui.actions.PMDCheckAction"
               enablesFor="+"
               icon="icons/pmd-icon-16.gif"
               id="net.sourceforge.pmd.ui.pmdFileCheckProjectAction"
               label="%action.checkpmd"
               menubarPath="additions"/>
      </objectContribution>                               
   </extension>

   <extension
         id="pmdViews"
         point="org.eclipse.ui.views">
      <category
            name="%view.category"
            id="net.sourceforge.pmd.ui.views">
      </category>
      <view
            allowMultiple="false"
            icon="icons/icon_outline.gif"
            class="net.sourceforge.pmd.ui.views.ViolationOutline"
            category="net.sourceforge.pmd.ui.views"
            name="%view.outline"
            id="net.sourceforge.pmd.ui.views.violationOutline"/>
      <view
            allowMultiple="false"
            icon="icons/icon_overview.gif"
            class="net.sourceforge.pmd.ui.views.ViolationOverview"
            category="net.sourceforge.pmd.ui.views"
            name="%view.overview"
            id="net.sourceforge.pmd.ui.views.violationOverview"/>
      <view
            allowMultiple="false"
            icon="icons/pmd-icon-16.gif"
            class="net.sourceforge.pmd.ui.views.DataflowView"
            category="net.sourceforge.pmd.ui.views"
            name="%view.dataflowview"
            id="net.sourceforge.pmd.ui.views.dataflowView"/>
      <view
            allowMultiple="false"
            category="net.sourceforge.pmd.ui.views"
            class="net.sourceforge.pmd.ui.views.CPDView"
            icon="icons/icon_cpd.gif"
            id="net.sourceforge.pmd.ui.views.CPDView"
            name="%view.cpd"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/pmd-icon-16.gif"
            class="net.sourceforge.pmd.ui.views.PMDPerspective"
            name="%view.perspective"
            id="net.sourceforge.pmd.ui.views.pmdPerspective"/>
   </extension>

</plugin>
