<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.pmd.core"
   name="PMD For Eclipse Core Plug-in"
   version="4.2.0"
   provider-name="PMD Development Team"
   class="net.sourceforge.pmd.core.PMDCorePlugin">

   <runtime>
      <library name="pmd-core.jar">
         <export name="*"/>
      </library>
      <library name="lib/pmd14-4.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/retroweaver-rt-2.0.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/asm-3.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxen-1.1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/junit.jar">
         <export name="*"/>
      </library>
      <library name="lib/backport-util-concurrent.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl-2.6.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/xmlParserAPIs-2.6.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/castor-1.1.2.1-xml.jar">
         <export name="*"/>
      </library>
      <library name="lib/log4j-1.2.15.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging-1.1.1.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension-point id="rulesets" name="rulesets" schema="schema/rulesets.exsd"/>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
