<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.pmd.eclipse.test"
   name="PMD Eclipse Test Plug-in"
   version="3.2.3.v200712041040"
   provider-name="PMD Development Team">

   <runtime>
      <library name="pmd-eclipse-test.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="net.sourceforge.pmd.core"/>
      <import plugin="net.sourceforge.pmd.eclipse"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="net.sourceforge.pmd.runtime"/>
      <import plugin="net.sourceforge.pmd.ui"/>
   </requires>

</plugin>
