#
# all-java on pmd source tree
#
src text rulesets/internal/all-java.xml -version java 1.5 

#
# jdk 1.6 source files
#
/usr/java/jdk1.6.0_06/src.zip text rulesets/internal/all-java.xml -version java 1.6

