<?xml version="1.0"?>
<document>
  <properties>
    <title>Welcome to PMD</title>
    <author email="jjensen@apache.org">Jeff Jensen</author>
  </properties>
  <body>
    <section name="Welcome to PMD">
      <p>PMD scans Java source code and looks for potential problems like:</p>
      <ul>
        <li>Possible bugs - empty try/catch/finally/switch statements</li>
        <li>Dead code - unused local variables, parameters and private methods</li>
        <li>Suboptimal code - wasteful String/StringBuffer usage</li>
        <li>Overcomplicated expressions - unnecessary if statements, for loops that could be while loops</li>
        <li>Duplicate code - copied/pasted code means copied/pasted bugs</li>
      </ul>

      <h3>Download</h3>
      <p>You can <b><a href="https://sourceforge.net/projects/pmd/files/${project.version}/">download everything from here</a></b>, and you can get an overview of all the rules at the <a href="rules/index.html">rulesets index</a> page.</p>
      <p>PMD is <a href="integrations.html">integrated</a> with JDeveloper, Eclipse, JEdit, JBuilder, BlueJ, CodeGuide, NetBeans/Sun Java Studio Enterprise/Creator, IntelliJ IDEA, TextPad, Maven, Ant, Gel, JCreator, and Emacs.</p>

      <h3>Changelog</h3>
      <ul>
        <li>See <a href="overview/changelog.html">What's new in PMD ${project.version}</a></li>
        <li>Older versions: <a href="overview/changelog-old.html">Old Changelogs</a></li>
      </ul>

      <h3>Future releases</h3>
      <p>The next version of PMD will be developed in parallel with this release. We will release additional bugfix
      versions as needed.</p>
      <p>A <a href="http://pmd.sourceforge.net/snapshot">snapshot</a> of the web site for the new version is generated
      daily by our continuous integration server.</p>
      <p>Maven packages are also generated regularly and uploaded
      to <a href="https://oss.sonatype.org/content/repositories/snapshots/net/sourceforge/pmd/pmd/">Sonatypes OSS snapshot repository</a>.</p>

    </section>
  </body>
</document>
