<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.pmd.core"
   name="%plugin.name"
   version="3.2.0"
   provider-name="%plugin.provider"
   class="net.sourceforge.pmd.core.PMDCorePlugin">

   <runtime>
      <library name="lib/jaxen-core-1.0-fcs.jar">
         <export name="*"/>
      </library>
      <library name="lib/saxpath-1.0-fcs.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/xmlParserAPIs.jar">
         <export name="*"/>
      </library>
      <library name="lib/pmd-3.2.jar">
         <export name="*"/>
      </library>
      <library name="core.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
   <extension-point id="rulesets" name="rulesets" schema="schema/rulesets.exsd"/>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
