<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.pmd.core"
   name="%plugin.name"
   version="1.7.0.v3"
   provider-name="%plugin.provider">

   <runtime>
      <library name="core.jar"/>
      <library name="lib/pmd-1.7.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxen-core-1.0-fcs.jar"/>
      <library name="lib/saxpath-1.0-fcs.jar"/>
   </runtime>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
