<!--
    <author>Tom Copeland</author>
    <author email="xlv@users.sourceforge.net">Xavier Le Vourch</author>
-->

How to install PMD and CPD
==========================

Windows
-------

Requirements:

*   [Java JRE](http://www.oracle.com/technetwork/java/javase/downloads/index.html) 1.7 or higher
*   [Winzip](http://winzip.com) or the free [7-zip](http://www.7-zip.org/)

Download the latest binary distribution from [the download page](https://sourceforge.net/projects/pmd/files/pmd/)
 - i.e., [pmd-bin-${project.version}.zip](https://sourceforge.net/projects/pmd/files/pmd/${project.version}/pmd-bin-${project.version}.zip).

Unzip it into any directory, i.e., c:\pmd\

Linux / Unix
------------

Requirements:

*   [Java JRE](http://www.oracle.com/technetwork/java/javase/downloads/index.html) 1.7 or higher
*   The Unix "zip" utility [InfoZip](http://www.info-zip.org/pub/infozip/)

Download the latest binary distribution from [the download page](https://sourceforge.net/projects/pmd/files/pmd/)
 - i.e., [pmd-bin-${project.version}.zip](https://sourceforge.net/projects/pmd/files/pmd/${project.version}/pmd-bin-${project.version}.zip).

Unzip it into any directory:

    [tom@hal tmp]$ unzip -q pmd-bin-${project.version}.zip
    [tom@hal tmp]$ ls -l
    total 4640
    drwxrwxr-x    5 tom      tom          4096 Apr 17 16:38 pmd-bin-${project.version}
    -rw-rw-r--    1 tom      tom       4733312 Jun  9 15:44 pmd-bin-${project.version}.zip
    [tom@hal tmp]$


Note that the PMD binary distribution file contains both [PMD](running.html) and [CPD](cpd-usage.html).
