<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="plugin" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="pmd-eclipse.log"/>
		<param name="MaxFileSize" value="10MB"/>
		<param name="MaxBackupIndex" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p %-26c{1} %m%n"/>
		</layout>
	</appender>
	
	<logger name="net.sourceforge.pmd" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="plugin"/>
	</logger>
	
	<root>
		<level value="WARN"/>
		<appender-ref ref="plugin"/>
	</root>
</log4j:configuration>
