<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="net.sourceforge.pmd.eclipse"
   name="pmd-eclipse Plug-in"
   version="0.2.0"
   provider-name="PMD"
   class="net.sourceforge.pmd.eclipse.PMDPlugin">

   <runtime>
      <library name="pmd-eclipse.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.apache.xerces"/>
   </requires>


   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Run PMD"
            visible="true"
            id="net.sourceforge.pmd.eclipse.actionSet">
         <menu
               label="&amp;PMD"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;PMD"
               icon="icons/pmd-icon-16.gif"
               tooltip="Run PMD"
               class="net.sourceforge.pmd.eclipse.actions.PMDAction"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="net.sourceforge.pmd.eclipse.actions.PMDAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <actionSet
               id="net.sourceforge.pmd.eclipse.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="PMD"
            class="net.sourceforge.pmd.eclipse.preferences.GeneralPreferencesPage"
            id="net.sourceforge.pmd.eclipse.preferences.GeneralPreferencesPage">
      </page>
      <page
            name="RuleSet Preferences"
            category="net.sourceforge.pmd.eclipse.preferences.GeneralPreferencesPage"
            class="net.sourceforge.pmd.eclipse.preferences.PMDPreferencePage"
            id="net.sourceforge.pmd.eclipse.preferences.PMDPreferencePage">
      </page>
      <page
            name="CPD Preferences"
            category="net.sourceforge.pmd.eclipse.preferences.GeneralPreferencesPage"
            class="net.sourceforge.pmd.eclipse.preferences.CPDPreferencePage"
            id="net.sourceforge.pmd.eclipse.CPDPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.java"
            id="net.sourceforge.pmd.eclipse.PMDCheckFileContribution">
         <menu
               label="&amp;PMD"
               path="additions"
               id="net.sourceforge.pmd.eclipse.PMDCheckFileMenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="PMD Check File"
               state="false"
               class="net.sourceforge.pmd.eclipse.actions.PMDCheckFileAction"
               menubarPath="net.sourceforge.pmd.eclipse.PMDCheckFileMenu/group1"
               enablesFor="*"
               id="net.sourceforge.pmd.eclipse.PMDCheckFileActionItem">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="net.sourceforge.pmd.eclipse.CPDCheckProject">
         <menu
               label="&amp;CPD"
               path="cpdadditions"
               id="net.sourceforge.pmd.eclipse.CPDCheckProjectMenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Check Project"
               state="false"
               class="net.sourceforge.pmd.eclipse.actions.CPDCheckProjectAction"
               menubarPath="net.sourceforge.pmd.eclipse.CPDCheckProjectMenu/group1"
               enablesFor="1"
               id="net.sourceforge.pmd.eclipse.CPDCheckProjectActionItem">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="mymarker"
         point="org.eclipse.core.resources.markers">
   </extension>
   <extension
         id="PMDMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="net.sourceforge,pmd.eclipse.mymarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="CPDMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="net.sourceforge,pmd.eclipse.mymarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>

</plugin>
